<div class="post_container">
  <div class="post_header">
    <%= image_tag post.user.image.url %>
    <%= post.user.name %>
  </div>
  <div class="post_image">
    <%= image_tag post.image.url %>
  </div>
  <div class="post_text">
    <%= post.content %>
  </div>

    <div class="post_menu">
      <%= link_to '確認', post_path(post.id), class: 'btn btn-info'  %>
      <% if current_user.id == post.user_id %>
        <%= link_to '編集', edit_post_path(post), class: 'btn btn-success'  %>
        <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
      <% end %>

    </div>

</div>
