<div class="profile_container">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if @user.image.url %>
      <%= image_tag @user.image.url %>
    <% else %>
      <%= image_tag "/public/no_image.jpg" %>
    <% end %>
  </p>

  <p>
    <%= link_to 'ユーザー情報を編集', edit_user_path(@user.id), class: "btn btn-info" %>
  </p>
</div>
