<div class="post_container">
  <div class="post_header">
    <% if post.user.image.url %>
      <%= image_tag post.user.image.url %>
    <% else %>
      <%= image_tag '/public/no_image.jpg' %>
    <% end %>
    <%= post.user.name %>
  </div>
  <div class="post_image">
    <%= image_tag post.image.url %>
  </div>
  <div class="post_text">
    <%= post.content %>
  </div>

    <div class="post_menu">
      <% if action_name != "index" %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入りを解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-warning' %>
        <% else %>
          <%= link_to 'お気に入り登録する', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <%= link_to '確認', post_path(post.id), class: 'btn btn-info'  %>
      <% end %>
      <% if current_user.id == post.user_id %>
        <%= link_to '編集', edit_post_path(post), class: 'btn btn-success'  %>
        <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
      <% end %>

    </div>

</div>
